* {
	font-family: sans-serif;
	font-size: 14px;
}

window#waybar {
	background: rgba(20, 20, 20, 0.9);
}

#workspaces,
#clock,
#network,
#pulaseaudio {
	padding: 0 10px;
}

#workspaces button {
	padding: 0 8px;
}

#workspaces button.active {
	background: rgba(255, 255, 255, 0.15);
	color: white;
	font-weight: bold;
	border-bottom: 2px solid white;
}
